.body-nov{
    padding-bottom: 300px;
.titulo-nov{
    text-align: center;
    color: $color-fuente1;
    text-shadow: (2px 2px 4px whitesmoke);
    font-size: large;
    background-color: $color1;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
    margin-left: 42%;
    margin-top: 10px;
}

}

 .container-nov{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 50px;
        .card-nov{
        background-color:  rgb(250, 191, 250);
        width: 600px;
        height: 430px;
        margin: 40px;
        padding-top: 20px;
        box-shadow: (4px 4px 1px  rgb(250, 191, 250));
        color: white;
        text-shadow: (0px 2px 4px whitesmoke);
        border-radius: 10px;
       
        h5{
            text-align: center;
            margin-top: 7px;
        }
        p{
            margin-left: 4px;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: rgb(250, 167, 181);
            padding: 10px;
            border-radius: 10px;
            margin-left: 42%;
        }
        a:hover{
            box-shadow: (5px 5px 7px rgb(255, 119, 255));
            background-color: rgb(243, 148, 164);
        }

     img{
    width: 200px;
    margin-left: 35%;
    border-style: solid;
    border-color: whitesmoke;
    box-shadow: (5px 5px 7px rgb(255, 119, 255));
 }
}
}


@media only screen and (max-width: 575px){
    
    .titulo-nov{
img{
    margin-left: 12%;
}
}
.container-nov{
  display: block;
  margin-left: -20px;
 .card-nov{
    width: 380px;
    height: 500px;

a{
    margin-left: 35%;
}

    img{
        margin-left: 100px;
    }
 }
}
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .body-nov{
        .titulo-nov{
            img{
                margin-left: 25%;
            }
            }
    .container-nov{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-left: 10%;
    }
}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .body-nov{
        .titulo-nov{
            img{
                margin-left: 25%;
            }
            }
    .container-nov{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-left: 23%;
    }
}
}
